@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
h2 {
  color: #1b242f;
  font-size: 2.5em;
  border-bottom: 4px solid #1b242f;
  padding: 14px 70px;
  margin-top: 80px;
}

h3 {
  margin: 10px;
  color: #2b343f;
  font-size: 2em;
}

h4 {
  color: #2b343f;
  font-size: 1.3em;
}

img {
  max-width: 100%;
  max-height: auto;
}

section {
  border-bottom: solid #1b242f 8px;
}

a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 18px;
}

